.nav{
    padding: 1.5rem 6rem;
    width: 100%;
    @include flexs(center,space-between,0rem);
    .logo {
        width: 12rem;
        img {
            width: 100%;
            }
    }
  
        &-links {
     text-decoration: none;
     @include flexs(center,space-between,1.5rem);

      &_links {
     text-decoration: none;
     font-size: $fontSize-sm;
    }
   }
  } 
  .category {
    padding: 1rem;
    background-color: $secondary-color;
     &-links {
        @include flexs(center, center, 3rem);

         &--link {
        color: $text-white-d-color;
        font-size: $fontSize-sm;
        text-decoration: none;
    }
   }
 }